@font-face {
    font-family: 'Metropolitano';
    src: url("Metropolitano-Regular.ttf") format("truetype");
}
@font-face {
    font-family: 'Metropolitano Bold';
    src: url("Metropolitano-Bold.ttf") format("truetype");
}

body {
    background-color: #f4ece1;
    margin: 0;
    font-family: 'Metropolitano', Arial, sans-serif;
}
nav {
    list-style-type: none;
    display: flex;
}
.important {
    color: #85807a;
    margin:20px;
}
.important p {
    font-size: 14px;
    line-height: 1.6;
    color: #6d6964;
}