@font-face {
    font-family: 'Metropolitano';
    src: url("Metropolitano-Regular.ttf") format("truetype");
}
@font-face {
    font-family: 'Metropolitano Bold';
    src: url("Metropolitano-Bold.ttf") format("truetype");
}
.main-header {
    list-style-type: none;
    margin: 0;
    padding: 7px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items:center;
    height: 50px;
    border-style: solid;
    border-width: 0 0 3px 0;
    border-color: #494540;
}
.main-header .main-header-buttons {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: right;
    font-family: 'Metropolitano Bold';
}
.main-header .main-header-buttons .main-header-links {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.main-header .main-header-logo {
    display: flex;
    padding: 10px;
    justify-content:space-between;
    align-items:center;
}
.main-header .mhet {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #494540;
    padding: 6px;
    text-decoration: none;
    margin:8px;
    font-size: 20px;
    font-style: bold;
    border-style: solid;
    border-width: 3px;
    border-color: #494540;
    border-radius: 10px;
}
.main-header .mhet:hover {
    background-color: #d2c8ba;
}
.main-header .main-header-logo #mhrect {
    fill: #494540;
    stroke: #494540;
}
#box {
    fill: #494540;
    stroke: black;
}
.main-header .main-header-logo .mhsubtext h3 {
    color: #494540;
    font-size: 12px;
    align-items:end;
    justify-content:left;
}
