body {
    background-color: #f4ece1;
    margin: 0;
    font-family: Arial, sans-serif;
}
nav {
    list-style-type: none;
    display: flex;
}
.imptor {
    font-family: monospace;
    color: #85807a;
    margin:20px;
}