@font-face {
    font-family: 'Metropolitano';
    src: url("fonts/Metropolitano-Regular.ttf") format("truetype");
}
@font-face {
    font-family: 'Metropolitano Bold';
    src: url("fonts/Metropolitano-Bold.ttf") format("truetype");
}
@font-face {
    font-family: 'Neo Euler';
    src: url("fonts/euler.otf") format("opentype");
}
body {
    background-color: #f4ece1;
    margin: 0;
    font-family: 'Metropolitano', Arial, sans-serif;
}
nav {
    list-style-type: none;
    display: flex;
}
#logo {
    text-decoration: none;
    text-align:center;
    font-family: 'Neo Euler', Times, serif;
    font-size:24px;
    margin: 0;
    color:#092749
}
.important {
    color: #85807a;
    margin:20px;
}
.important p {
    font-size: 14px;
    line-height: 1.6;
    color: #6d6964;
}
.important p a {
    color: #494540;
    text-decoration: underline;
}
